spring:
  application:
    name: processor-service
  datasource:
    url: jdbc:postgresql://localhost:5432/logsphere
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
    open-in-view: false
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: log-processor-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

security:
  jwt:
    secret: logsphere-secret-key-for-jwt-signing-2026-very-strong

app:
  kafka:
    topics:
      log-events: log-events
      service-events: service-events
      alerts: alerts

server:
  port: 8082

logging:
  level:
    root: INFO
