spring:
  application:
    name: ingestion-service
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        json:
          add.type.info.headers: false

server:
  port: 8081

logging:
  level:
    org.springframework.kafka: DEBUG



